body{
  background-color: transparent;
  padding: none;
  margin: none;
  font-family: Misans;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
}
@font-face {
  font-family: MiSans;
  src: local('MiSans'), url('./assets/MiSans-Normal.ttf');
}

h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.5em;
  margin-block-end: 0.5em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  unicode-bidi: isolate;
}

:root{
    --mainBlockBackground: rgb(249,249,249);
    --background-bar: rgb(243,243,243);

    --color-button-active: rgb(0,144,220);
    --color-toggle-actived: rgb(0,122,204);
	--Shadow-value-card-high:0px 0.3125em 1.0625em #0001;
	--Shadow-value-normal:0px 0px 0.1875em #0005;
	--Shadow-value-low:0px 0px 0.3125em #0002;
	--Shadow-value-offsetY-low:0px 0.125em 0.4375em #0002;
	--fontColor-content-normal:#000;
	--fontColor-content-unimportant:#555;
	--fontColor-content-moreUnimportant:#888;
  --card-radio-backgroundColor-1:#ddd;
  --card-radio-backgroundColor-2:rgb(243,243,243);
  --color-input-outline-normal: rgba(0, 0, 0, 0.08);

}
p.tips{
  font-size: 12px;color:#0006;
}
input{
  padding: 11px;
  border-radius: 11px;
  border: none;
  background-color: rgba(0, 0, 0, 0.03);
  /* outline: 0; */
  outline:  var(--color-input-outline-normal) solid  2px;
}
input:focus{
  box-shadow: var(--Shadow-value-card-high);
  outline:  var(--color-button-active) solid  2px;
}
body{
  background-color: var(--mainBlockBackground);
  /* margin: 0; */
  /* padding: 0; */
}
.global_backgroundblur_light{
  backdrop-filter: blur(30px);
  background-color: #fffa;
}
.global_backgroundblur_dark{
  backdrop-filter: blur(30px);
  background-color: #fffa;
}
#app{
  /* position:relative; */
  /* width:100vw; */
  /* height:100vh; */
  /* overflow: hidden; */
}