body{
  background-color: transparent;
  padding: none;
  margin: none;
  font-family: Misans;
  /* background-color: rgb(238,238,238); */
  overflow: hidden;
}
@font-face {
  font-family: MiSans;
  src: local('MiSans'), url('./assets/MiSans-Normal.ttf');
}
:root{
    --mainBlockBackground: #ddd;
    --color-toggle-actived: rgb(0,122,204)
}
body{
  background-color: var(--mainBlockBackground);
}